body{
    background-color: whitesmoke
}

h1{
    font-family: serif;
    font-size: xx-large;
    text-transform: uppercase;
    text-transform: capitalize;
    text-align: center;
    font-style: normal;
}
.part2 section,.part3 section{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
} 
figure{
    border: 5px groove orange;

}
    figcaption{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        text-transform: uppercase;
        text-align: center;
        font-size: larger;
    }
    figure img{
        margin-left:20%;
    }
h2{
    text-align: center;
    font-size: large;
    font-family: serif;
    text-transform: uppercase;
}
h1{
    font-style: italic;
    text-align: center;
    text-transform: capitalize;
    background-color: orange;
}


